<h1 class="page-header-h1">Study Mode</h1>

<div class="canvas timer-div">
  <div class="timer-bar"></div>
  <div class="content-box">
    <div class="timer-info page-header-h3-bold">Time Remaining</div>
    <div class="timer-display"></div>
    <div class="timer-button" >Start!</div>
  </div>
</div>
