<h1>Welcome to Rabit</h1>
<h3>A Habit Tracking App</h3>


<div class="canvas timer-div">
  <div class="timer-bar"></div>
  <div class="content-box">
    <div class="timer-display"></div>
    <div class="timer-info">remaining time</div>
    <div class="timer-button" >Start!</div>
  </div>
</div>

<br>

<h1 id="timer">Stop Watch</h1>
<div class="controls">
  <button id="reset">Reset</button>
  <button id="start">Start</button>
  <button id="pause">Pause</button>
</div>
